/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div#string {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    font-size: 150%;
}

span[what="char"] {
    position: relative;
}

span.caret {
    position: absolute;
    left: -50%;
}

.blinking {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

